html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#highscores {
  background-color: rgb(87, 87, 87);
  color: white;
}

#highscores-header {
  background-color: #333;
  text-align: center;
  font-size: 3.3rem;
}

.tableName {
  text-align: right;
  font-weight: bold;
}