html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#highscores {
  background-color: rgb(87, 87, 87);
  color: white;
  width: 100%;
}

#highscores-header {
  background-color: #333;
  text-align: center;
  font-size: 2.5rem;
}

#highscore-table td {
  text-align: center;
}

#styring-card {
  background-color: rgb(106, 107, 124);
  color: white;
}

.myButton {
  width: 100%;
  margin-top: 5px;
  font-size: 24px !important;
}

.tableName {
  text-align: right;
  font-weight: bold;
}

td {
  padding: 0.2rem !important;
}